* {
    box-sizing: border-box;
}

body {
    background-color: gray !important;
}

.image-gradient img {
    position: absolute;
    z-index: -1;
}

.background {
    background-color: #1b1b1b;
    height: 1024px;
    width: 576px;
    position: absolute;
    transform: translate(10%);
}

#container-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    top: 54px;
    position: relative;
}

.title {
    z-index: 2;
    position: absolute;
    margin-left: 40%;
    padding-top: 45px;
    font-family: 'PT Sans', sans-serif;
}

.title h2 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #9a9b9b;
}

.title p {
    color: white;
    margin-bottom: 0px;
    font-size: 24px;
}

#container-buttons #back-image img {
    flex: 1;
    padding-left: 54px;
    height: 29px;
}

#container-buttons #more-image img {
    height: 29px;
    padding-right: 64px;
}

.main-cd-image {
    width: 320px;
    height: 320px;
    top: 133px;
}

.daftcode-logo img {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    background-color: #1b1b1b;
    border-color: #0fd65a;
    width: 80px;
    height: 80px;
    position: absolute;
    border-width: 5px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border-style: solid;
    transform: translate(-50%, -50%);
}

.small-cover {
    height: 127px;
    margin-left: 64px;
    margin-right: 64px;
    display: inline-block;
    margin-top: 100px;
}

.album-title {
    margin-top: 173px;
    z-index: 3;
}

.album-title h2 {
    color: #0fd65a;
    font-size: 36px;
    font-family: 'PT Sans', sans-serif;
}

.album-title p {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #9a9b9b;
}

#play-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 88px;
}

#shuffle img {
    margin-left: 50px;
    margin-right: 50px;
}

#repeat img {
    margin-right: 50px;
}

.prev-next {
    position: absolute;
    z-index: 4;
}

#next {
    left: 125px;
}

#prev {
    right: 125px;
}

.flickity-prev-next-button {
    position: relative;
    z-index: 5;
    width: 100px;
    height: 100px;
    left: 100px;
}

#play {
    top: -95px;
    position: relative;
    z-index: 6;
    width: 200px;
}

#play img {
    height: 160px;
}

nav {
    background-color: white;
    height: 89px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sound img {
    margin-top: 27px;
}

.playlist-button img {
    margin-left: 45px;
    margin-top: 30px;
}

.playlist-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playlist-menu .next-song {
    margin-right: 50px;
    font-family: 'PT Sans', sans-serif;
    color: #9a9b9b;
}

.playlist-menu .next-song h2 {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 21px;
}

.playlist-menu .next-song p {
    font-size: 24px;
    width: 400px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#title {
    color: #1b1b1b;
    margin-right: 4px;
}

#spacing {
    letter-spacing: 2.5px;
}

.song-time {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 8;
    margin-bottom: -60px;
}

.song-time img {
    margin-top: -115px;
}

.song-time p {
    margin-top: -58px;
}

#time-left {
    margin-left: 50px;
    color: 9a9b9b;
}

#time-right {
    margin-right: 50px;
    color: 9a9b9b;
}

.background-cover {
    background-color: #1b1b1b;
    height: 1024px;
    width: 576px;
    position: absolute;
    transform: translate(110%);
}

.background-cover-transparent {
    background: rgba(27, 27, 27, 0.97);
    height: 1024px;
    width: 576px;
    position: absolute;
    transform: translate(110%);
    position: relative;
    z-index: 10;
}

.background-cover .main-cd-image img {
    transform: rotate(45deg);
}

.background-cover #container-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 11;
    top: 54px;
    position: relative;
}

.background-cover-transparent .album-title {
    margin-top: 29px;
}

.main-cover-small img {
    height: 188px;
    margin-top: 200px;
}

.dots {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #9a9b9b;
    border-radius: 50%;
    margin-top: 15px;
}

#dot-1 {
    margin-left: 258px;
}

#dot-3 {
    margin-right: 258px;
}

.options {
    margin-top: 46px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
}

p {
    0 0 0px;
}

.option {
    margin-bottom: 20px;
}

.playlist {
    background-color: #1b1b1b;
    height: 1024px;
    width: 576px;
    position: absolute;
    transform: translate(10%);
}

#play-image-small img {
    width: 131px;
    height: 131px;
    margin-top: -50px;
    margin-right: 34px;
}

.active-song {
    margin-top: -35px;
    margin-left: -78px;
    font-family: 'PT Sans', sans-serif;
    z-index: 13;
    position: relative;
}

.active-song h2 {
    font-size: 24px;
    color: #0fd65a;
}

.active-song p {
    font-size: 18px;
    color: #9a9b9b;
}

.playlist-background {
    background-color: #ffffff;
    height: 80%;
    width: 100%;
    margin-top: 60px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playlist-background ol {
    margin-top: 30px;
}

.playlist-background li {
    margin-left: 63px;
    margin-right: 50px;
    margin-top: 30px;
    color: #9a9b9b;
    width: 400px;
}

.playlist-background p {
    color: black;
    margin-left: 26px;
}

#margin-li {
    margin-left: 70px;
}

ol.dots-middle {
    margin-left: -400px;
    margin-top: 30px;
}

ol.dots-middle p {
    margin-top: 30px;
    letter-spacing: 6px;
}

ol.time {
    padding-left: 10px;
    margin-right: 70px;
    margin-top: 30px;
}

ol.time p {
    margin-top: 30px;
}

.transparent-background-playlist {
    height: 1024px;
    width: 576px;
    position: absolute;
    transform: translate(0%);
    background: linear-gradient(transparent, white);
    z-index: 16;
}

.playlist nav {
    height: 150px;
    background-color: white;
    z-index: 17;
    position: absolute;
}

.playlist .shuffle-play {
    width: 448px;
    height: 59px;
    background-color: #0fd65a;
    border-radius: 50px;
    position: relative;
}

.playlist .shuffle-play p {
    font-size: 20px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.playlist nav .arrow img {
    width: 30px;
    transform: rotate(270deg);
    height: 50px;
    margin-top: 20px;
}