* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    background-color: white !important;
    width: 10px;
    margin-left: 33% !important;
}

.image-gradient img {
    position: absolute;
    z-index: -1;
}

.background {
    background-color: #1b1b1b;
    height: 1024px;
    width: 576px;
    position: relative;
}

#container-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 6;
    top: 54px;
    position: relative;
}

.title {
    z-index: 2;
    position: absolute;
    margin-left: 40%;
    padding-top: 45px;
    font-family: 'PT Sans', sans-serif;
}

.title h2 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #9a9b9b;
}

.title p {
    color: white;
    margin-bottom: 0px;
    font-size: 24px;
}

.background #container-buttons .back-image img {
    padding-left: 54px;
    height: 29px;
    position: relative;
}

.back-image input[type="image"] {
    padding-left: 54px;
    height: 29px;
    position: relative;
}

input {
    transition: transform .4s ease;
}

input:hover {
    transform: rotate(360deg);
}

#more-button {
    height: 29px;
    padding-right: 64px;
}

.main-cd-image {
    width: 320px;
    height: 320px;
    top: 133px;
}

.daftcode-logo img {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    background-color: #1b1b1b;
    border-color: #0fd65a;
    width: 80px;
    height: 80px;
    position: absolute;
    border-width: 5px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border-style: solid;
    transform: translate(-50%, -50%);
}

.small-cover {
    height: 127px;
    margin-left: 64px;
    margin-right: 64px;
    display: inline-block;
    margin-top: 100px;
}

.album-title {
    margin-top: 173px;
    z-index: 3;
}

.album-title h2 {
    color: #0fd65a;
    font-size: 36px;
    font-family: 'PT Sans', sans-serif;
}

.album-title p {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #9a9b9b;
}

#play-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 88px;
    z-index: 400;
}

#shuffle img {
    margin-left: 50px;
    margin-right: 50px;
    transition: transform .2s;
}

#shuffle img:hover {
    transform: scale(1.5);
}

#repeat img {
    margin-right: 50px;
    transition: transform .2s;
}

#repeat img:hover {
    transform: scale(1.5);
}

.prev-next {
    position: absolute;
    z-index: 4;
    transition: transform .2s;
}

.prev-next:hover {
    transform: scale(1.5);
}

#next {
    left: 125px;
}

#prev {
    right: 125px;
}

.flickity-prev-next-button {
    position: relative;
    z-index: 500;
    width: 100px;
    height: 100px;
    left: 100px;
}

.flickity-page-dots {
    display: none;
}

#play {
    top: -95px;
    position: relative;
    z-index: 6;
    width: 200px;
}

nav {
    background-color: white;
    height: 89px;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
}

.background-cover-transparent nav {
    position: fixed;
}

.sound img {
    margin-top: 27px;
}

#playlist_button {
    margin-left: 45px;
    margin-top: 30px;
}

.playlist-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playlist-menu .next-song {
    margin-right: 50px;
    font-family: 'PT Sans', sans-serif;
    color: #9a9b9b;
}

.playlist-menu .next-song h2 {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 21px;
}

.playlist-menu .next-song p {
    font-size: 24px;
    width: 400px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#title {
    color: #1b1b1b;
    margin-right: 4px;
}

#spacing {
    letter-spacing: 2.5px;
}

.song-time {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 8;
    margin-bottom: -60px;
}

.song-time img {
    margin-top: -115px;
}

.song-time p {
    margin-top: -58px;
}

#time-left {
    margin-left: 50px;
    color: 9a9b9b;
}

#time-right {
    margin-right: 50px;
    color: 9a9b9b;
}

#background-covers {
    position: absolute;
    transform: translate(-358px, -1030px);
    width: 10%;
    z-index: 6;
    margin-right: 0px;
    left: 300px;
    opacity: 0;
}

.example {
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: alternate;
    /* Prefix for Webkit*/
    -webkit-animation-name: example;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes example {
    0% {
        transform: translate(-328px, -1030px);
        opacity: 0;
        animation-timing-function: linear;
    }
    25% {
        transform: translate(-479.5px, -1030px);
        opacity: 0.25;
        animation-timing-function: linear;
    }
    50% {
        transform: translate(-631px, -1030px);
        opacity: 0.5;
        animation-timing-function: linear;
    }
    75% {
        transform: translate(-782.5px, -1030px);
        opacity: 0.75;
        animation-timing-function: linear;
    }
    100% {
        transform: translate(-934px, -1030px);
        opacity: 1;
    }
}

@keyframes example {
    0% {
        transform: translate(-328px, -1030px);
        opacity: 0;
        animation-timing-function: linear;
    }
    25% {
        transform: translate(-479.5px, -1030px);
        opacity: 0.25;
        animation-timing-function: linear;
    }
    50% {
        transform: translate(-631px, -1030px);
        opacity: 0.5;
        animation-timing-function: linear;
    }
    75% {
        transform: translate(-782.5px, -1030px);
        opacity: 0.75;
        animation-timing-function: linear;
    }
    100% {
        transform: translate(-934px, -1030px);
        opacity: 1;
    }
}

#background-covers nav {
    bottom: -7px;
}

.background-cover {
    background-color: #1b1b1b;
    height: 1024px;
    width: 576px;
    position: absolute;
    transform: translate(110%);
}

.background-cover-transparent {
    background: rgba(27, 27, 27, 0.97);
    height: 1024px;
    width: 576px;
    position: absolute;
    transform: translate(110%);
    position: relative;
    z-index: 10;
}

.background-cover .main-cd-image img {
    transform: rotate(45deg);
    margin-top: 160px;
}

.background-cover-transparent .album-title {
    margin-top: 29px;
}

.main-cover-small img {
    height: 188px;
    margin-top: 200px;
}

.dots {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #9a9b9b;
    border-radius: 50%;
    margin-top: 15px;
}

#dot-1 {
    margin-left: 258px;
}

#dot-3 {
    margin-right: 258px;
}

.options {
    margin-top: 46px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
}

p {
    0 0 0px;
}

.option {
    margin-bottom: 20px;
}

.move {
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: alternate;
    /* Prefix for Webkit*/
    -webkit-animation-name: move;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

#playlist {
    background-color: #1b1b1b;
    height: 1024px;
    width: 576px;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 2000;
}

@-webkit-keyframes move {
    0% {
        transform: translateY(-204.8px);
        opacity: 0;
        animation-timing-function: linear;
    }
    25% {
        transform: translateY(-409.6px);
        opacity: 0;
        animation-timing-function: linear;
    }
    50% {
        transform: translateY(-614.4px);
        opacity: 0;
        animation-timing-function: linear;
    }
    75% {
        transform: translateY(-819.2px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        transform: translateY(-1024px);
        opacity: 1;
    }
}

@keyframes move {
    0% {
        transform: translateY(-204.8px);
        opacity: 0;
        animation-timing-function: linear;
    }
    25% {
        transform: translateY(-409.6px);
        opacity: 0.25;
        animation-timing-function: linear;
    }
    50% {
        transform: translateY(-614.4px);
        opacity: 0.5;
        animation-timing-function: linear;
    }
    75% {
        transform: translateY(-819.2px);
        opacity: 0.75;
        animation-timing-function: linear;
    }
    100% {
        transform: translateY(-1024px);
        opacity: 1;
    }
}

#play-image-small img {
    width: 131px;
    height: 131px;
    margin-top: -50px;
    margin-right: 34px;
}

.active-song {
    margin-top: -35px;
    margin-left: -78px;
    font-family: 'PT Sans', sans-serif;
    z-index: 13;
    position: relative;
}

.active-song h2 {
    font-size: 24px;
    color: #0fd65a;
}

.active-song p {
    font-size: 18px;
    color: #9a9b9b;
}

.playlist-background {
    background-color: #ffffff;
    height: 80%;
    width: 100%;
    margin-top: 60px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playlist-background ol {
    margin-top: 30px;
}

.playlist-background li {
    margin-left: 63px;
    margin-right: 50px;
    margin-top: 30px;
    color: #9a9b9b;
    width: 400px;
}

.playlist-background p {
    color: black;
    margin-left: 26px;
}

#margin-li {
    margin-left: 70px;
}

ol.dots-middle {
    margin-left: -400px;
    margin-top: 30px;
}

ol.dots-middle p {
    margin-top: 30px;
    letter-spacing: 6px;
}

ol.time {
    padding-left: 10px;
    margin-right: 70px;
    margin-top: 30px;
}

ol.time p {
    margin-top: 30px;
}

.transparent-background-playlist {
    height: 1024px;
    width: 576px;
    position: absolute;
    transform: translate(0%);
    background: linear-gradient(transparent, white);
    z-index: 2;
}

#playlist nav {
    height: 150px;
    background-color: white;
    z-index: 17;
    position: absolute;
}

#playlist .shuffle-play {
    width: 448px;
    height: 59px;
    background-color: #0fd65a;
    border-radius: 50px;
    position: relative;
}

#playlist .shuffle-play p {
    font-size: 20px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#playlist nav .arrow {
    width: 30px;
    transform: rotate(270deg);
    height: 50px;
    margin-top: 35px;
}

.curtain {
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.curtain-wrapper {
    height: 100%;
    width: 100%;
}

input[type=image] {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 1;
}

input[type=image]:checked~div.mymove {
    transform: translateX(0);
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}